{% extends 'base.html' %}

{% block title %}USUARIOS REGISTRADOS{% endblock title %}

{% block content %}
<div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h1>HABITANTES</h1>
            </div>

    </div>
        <table width="900">
        <tr><td><strong>Username:</strong> {{object.usr_usuario}}
        <strong> Email:</strong> {{object.usr_email}}</td></tr>

        <tr><td><strong>Nombres:</strong> {{object.usr_nombres}}
        <strong> Apellidos:</strong> {{object.usr_apellidos}}</td></tr>

        <tr><td><strong>Password:</strong> {{object.usr_password}}

        <tr><td><strong>Foto:</strong> {{form.usrForm_photo}}</td></tr>
        </table>

        <form method="post" action="" enctype="multipart/form-data">
                {%csrf_token%}
                {{forms.as_p}}


        </form>

    </div>

{% endblock content %}